{% extends 'base.html.twig' %}
{% block title %} Settings{% endblock %}
{% block body %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>



<link rel="stylesheet" href="{{ asset('notif/lobibox.min.css') }}"/>
 <!-- Wrap -->
    <div id="wrap">


    <!--Banner-->
    <section class="sub-banner">
        <!--Background-->
        <div class="bg-parallax bg-1"></div>
        <!--End Background-->
        <!-- Logo -->
        <div class="logo-banner text-center">
            <a href="" title="">

                <img src="{{ asset('bundles/app/images/logo-banner.png') }}" alt="">
            </a>
        </div>
        <!-- Logo -->
    </section>
    <!--End Banner-->

    <!-- Main -->
    <div class="main">
        <div class="container">
            <div class="main-cn element-page bg-white clearfix">
                <!--Breakcrumb-->
                <section class="breakcrumb-sc">
                    <ul class="breadcrumb arrow">
                        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                        <li>User Reviews</li>
                    </ul>
                </section>
                <!--End Breakcrumb-->

                <section class="user-profile">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="user-profile__header">
                                <h4>{{ Hotel.name }}</h4>
                                <span>Member Since {{ Hotel.dateInscrit | date('M') }} {{ Hotel.dateInscrit  | date('Y') }}</span>
                                <p>

                                    <img src="{{ asset('images/products/'~ Hotel.imageName) }}" alt="">
                                </p>
                            </div>

                            <ul class="user-profile__navigation">
                                <li><a href="{{ path('mybookingshotel') }}"><img src="{{ asset('bundles/app/images/icon/icon-cart.png') }}" alt="">Bookings</a></li>
                                <li ><a href="{{ path('facilities_settings') }}"><img src="{{ asset('bundles/app/images/icon/icon-user.png') }}" alt="">Facilities</a></li>
                                <li><a href="{{ path('promo_hotel') }}"><img src="{{ asset('bundles/app/images/icon/icon-review.png') }}" alt="">Manage Offers</a></li>
                                <li class="current"><a href="{{ path('hotel_ProfileSettings') }}"><img src="{{ asset('bundles/app/images/icon/icon-setting.png') }}" alt="">Settings</a></li>
                                <li><a href="{{ path('room_settings') }}"><img src="{{ asset('bundles/app/images/icon/icon-heart.png') }}" alt="">Rooms & Price Tables </a></li>
                                <li><a href="{{ path('hotel_portfolio_settings') }}"><img src="{{ asset('bundles/app/images/icon/icon-back.png') }}" alt=""> Portfolio </a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><img src="{{ asset('bundles/app/images/icon/icon-back.png') }}" alt="">Sign out</a></li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <h2 class="user-profile__title">Settings</h2>
                            <div class="user-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>Personal Information</h3>

                                        {{ form_start(form,{'attr': {'id': 'formx', 'onsubmit':'return validateForm();'}})}}
                                        <div class="field-input">
                                            {{ form_widget(form.name, {'id':'idtitle','attr': {'class': 'form-control','placeholder':'First Name' }}) }}

                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form.stars, {'attr': {'class': 'form-control','placeholder':'Stars' }}) }}
                                        </div>

                                        <div class="field-input">
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control','placeholder':'phone number' }}) }}

                                        </div>
                                        <h3>Location</h3>
                                        <div class="field-input">
                                            {{ form_widget(form.adresse, {'id':'cityAdresse','attr': {'class': 'form-control','placeholder':'Street','onFocus':'geoLocate()' }}) }}

                                        </div>

                                            <div class="field-input">
                                                {{ form_widget(form.gouvernorat, {'id':'administrative_area_level_1' ,'attr': {'class': 'form-control','placeholder':'State','id':'street_number'
                                                     }}) }}


                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form.country, {'id':'country' ,'attr': {'class': 'form-control','placeholder':'Country'}}) }}

                                        </div>


                                        <div class="field-input">
                                            {{ form_widget(form.langitude, {'id':'longitude','attr': {'class': 'form-control','placeholder':'Lang' }}) }}


                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form.altitude, {'id':'laltitude','attr': {'class': 'form-control','placeholder':'altitude' }}) }}


                                        </div>
                                        <h4>Historical Facts</h4>
                                        <div class="field-input">
                                            {{ form_widget(form.description, {'id':'desckeditor','attr': {'class': 'ckeditor' }}) }}


                                        </div>


                                        <div class="field-input">
                                            {{ form_widget(form.matricule_fiscale, {'attr': {'class': 'form-control','placeholder':'MF/NRHPO' }}) }}


                                        </div>

                                        <div class="field-input">
                                            {{ form_widget(form.dateBuilt,{'attr': {'class': 'form-control' }}) }}


                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form.architecture, {'attr': {'class': 'form-control','placeholder':'Architecture' }}) }}


                                        </div>
                                        <div class="field-input" hidden>
                                            {{ form_widget(form.Save, {'attr': {'class': 'awe-btn awe-btn-1 awe-btn-medium' }}) }}
 </div>
   <fieldset>
                                    <div class="field-input">
                                        <button id="popupYesNoBasic" class="awe-btn awe-btn-1 awe-btn-medium">Confirm</button>
                                    </div>
                                </fieldset>
                       <script> $('#popupYesNoBasic').click(function (e) {
                       e.preventDefault();
                     Lobibox.confirm({
                    msg: "Are you sure you want to submit these change to your profile?",
                    callback: function ($this, type) {
                        if (type === 'yes') {
var title = document.getElementById('idtitle').value;
var desc = document.getElementById('desckeditor').value;




if(title.length < 6)
    {
     Lobibox.notify('error', {
                    title: 'Short title  ',
                    msg: 'the field title is too short  .'
                });
       return false;
    }



                        else {    Lobibox.notify('success', {
                                msg: 'Profile Edited.'
                            });
                              document.getElementById("formx").submit(); }

                        } else if (type === 'no') {
                            Lobibox.notify('info', {
                                msg: 'Procedure Cancelled.'
                            });
                        }
                    }
                });







            });</script>



                                    </div>

                                    <div class="col-md-6">
                                        <h3> Insert Photo </h3>
                                        <script type="text/javascript" src="{{ asset('bundles/app/js/library/jquery-3.1.1.min.js') }}"></script>

                                        <script type="text/javascript">
                                            $(function () {
                                                var mapOptions = {
                                                    center: new google.maps.LatLng(36.8, 10.1),
                                                    zoom: 7,
                                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                                };

                                                var infoWindow = new google.maps.InfoWindow();
                                                var latlngbounds = new google.maps.LatLngBounds();
                                                var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
                                                google.maps.event.addListener(map,
                                                        'click',
                                                        function (e) {

                                                            // alert("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
                                                            document.getElementById("lat").value = e.latLng.lat();
                                                            document.getElementById("long").value = e.latLng.lng();
                                                            //document.getElementById("p2").innerHTML = e.latLng.lng();

                                                        });
                                                marker = new google.maps.Marker({
                                                    map: map,
                                                    draggable: true,
                                                    animation: google.maps.Animation.DROP,
                                                    position: { lat: 36.8, lng: 10.1 }
                                                });
                                                marker.addListener('click', toggleBounce);
                                                //marker.setPosition(tx);
                                                google.maps.event.addListener(marker,
                                                        'dragend',
                                                        function () {
                                                            var lat = marker.getPosition().lat();
                                                            var lng = marker.getPosition().lng();
                                                            /*marke
                                                             $('#lat').val(lat);
                                                             $('#lng').val(lng);*/
                                                            /*$.ajax({
                                                             url: "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + lng + "&sensor=true",
                                                             success: function (res) {
                                                             console.log(res.results[0].formatted_address);
                                                             }
                                                             })*/
                                                            var latlng = new google.maps.LatLng(lat, lng);
                                                            var geocoder = geocoder = new google.maps.Geocoder();
                                                            geocoder.geocode({ 'latLng': latlng },
                                                                    function (results, status) {

                                                                        if (status == google.maps.GeocoderStatus.OK) {
                                                                            if (results[1]) {
                                                                                //alert("Location: " + results[1].formatted_address);
                                                                                $(document).find("#cityAdresse").val(results[1].formatted_address);
                                                                                $("#cityAdresse").val(results[1].formatted_address);
                                                                                $("#laltitude").val(results[1].geometry.location.lat());
                                                                                $("#longitude").val(results[1].geometry.location.lng());
                                                                            }
                                                                        }
                                                                    });

                                                        });
                                                google.maps.event.addListener(marker,
                                                        'tx',
                                                        function () {
                                                            var tx = marker.setPosition().tx();
                                                            $('#tx').val(tx);

                                                        });


                                                function toggleBounce() {
                                                    if (marker.getAnimation() !== null) {
                                                        marker.setAnimation(null);
                                                    } else {
                                                        marker.setAnimation(google.maps.Animation.BOUNCE);
                                                    }
                                                }

                                            });


                                        </script>

                                        <center>
                                            <div id="dvMap" style="width: 500x; height: 500px;">
                                            </div>
                                        </center>

                                        <div class="field-input">
                                            {{ form_widget(form.imageFile) }}
                                        </div>
                                        {{ form_end(form) }}
                                        <h3>Change Password</h3>
                                        {{ form_start(form1) }}
                                        <div class="field-input">
                                            {{ form_widget(form1.current_password, {'attr': {'class': 'form-control','placeholder':'current password' }}) }}
                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form1.plainPassword.first, {'attr': {'class': 'form-control','placeholder':'new password' }}) }}
                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form1.plainPassword.second, {'attr': {'class': 'form-control','placeholder':'new password again' }}) }}
                                        </div>
                                        <div class="field-input">
                                            <button class="awe-btn awe-btn-1 awe-btn-medium">Change Password</button>
                                        </div>
                                        {{ form_end(form1) }}

                                        <div id="locationField" hidden>
                                            <input id="autocomplete" placeholder="Enter your address"
                                                   onFocus="geolocate()" type="text"></input>
                                        </div>

                                        <table id="address" hidden>
                                            <tr>
                                                <td class="label">Street address</td>
                                                <td class="slimField"><input class="field" id="street_number"
                                                                             disabled="true"></input></td>
                                                <td class="wideField" colspan="2"><input class="field" id="route"
                                                                                         disabled="true"></input></td>
                                            </tr>
                                            <tr>
                                                <td class="label">City</td>
                                                <td class="wideField" colspan="3"><input class="field" id="locality"
                                                                                         disabled="true"></input></td>
                                            </tr>
                                            <tr>
                                                <td class="label">State</td>
                                                <td class="slimField"><input class="field"
                                                                             id="administrative_area_level_1" disabled="true"></input></td>
                                                <td class="label">Zip code</td>
                                                <td class="wideField"><input class="field" id="postal_code"
                                                                             disabled="true"></input></td>
                                            </tr>
                                            <tr>
                                                <td class="label">Country</td>
                                                <td class="wideField" colspan="3"><input class="field"
                                                                                         id="country" disabled="true"></input></td>
                                            </tr>
                                        </table>






                                        <script>
                                            // This example displays an address form, using the autocomplete feature
                                            // of the Google Places API to help users fill in the information.

                                            var placeSearch, autocomplete;
                                            var componentForm = {
                                                street_number: 'short_name',
                                                route: 'long_name',
                                                locality: 'long_name',
                                                administrative_area_level_1: 'short_name',
                                                country: 'long_name',
                                                postal_code: 'short_name'
                                            };

                                            function initAutocomplete() {
                                                // Create the autocomplete object, restricting the search to geographical
                                                // location types.
                                                autocomplete = new google.maps.places.Autocomplete(
                                                        /** @type {!HTMLInputElement} */(document.getElementById('cityAdresse')),
                                                        {types: ['geocode']});

                                                // When the user selects an address from the dropdown, populate the address
                                                // fields in the form.
                                                autocomplete.addListener('place_changed', fillInAddress);
                                            }

                                            // [START region_fillform]
                                            function fillInAddress() {
                                                // Get the place details from the autocomplete object.
                                                var place = autocomplete.getPlace();

                                                for (var component in componentForm) {
                                                    document.getElementById(component).value = '';
                                                    document.getElementById(component).disabled = false;
                                                }

                                                // Get each component of the address from the place details
                                                // and fill the corresponding field on the form.
                                                for (var i = 0; i < place.address_components.length; i++) {
                                                    var addressType = place.address_components[i].types[0];
                                                    if (componentForm[addressType]) {
                                                        var val = place.address_components[i][componentForm[addressType]];
                                                        document.getElementById(addressType).value = val;
                                                    }
                                                }
                                            }
                                            // [END region_fillform]

                                            // [START region_geolocation]
                                            // Bias the autocomplete object to the user's geographical location,
                                            // as supplied by the browser's 'navigator.geolocation' object.
                                            function geolocate() {
                                                if (navigator.geolocation) {
                                                    navigator.geolocation.getCurrentPosition(function(position) {
                                                        var geolocation = {
                                                            lat: position.coords.latitude,
                                                            lng: position.coords.longitude
                                                        };
                                                        var circle = new google.maps.Circle({
                                                            center: geolocation,
                                                            radius: position.coords.accuracy
                                                        });
                                                        autocomplete.setBounds(circle.getBounds());
                                                    });
                                                }
                                            }
                                            // [END region_geolocation]

                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- End Main -->
<script>

</script>
{% endblock %}
        {% block js %}
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?language=en&key=AIzaSyAQkO9t0ugd5cHC12zbNh6uNGCVlozspIg&callback=initMap">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQkO9t0ugd5cHC12zbNh6uNGCVlozspIg&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
   <script src="{{ asset('notif/lobibox.js') }}"></script>

        {% endblock %}