
{% extends 'base.html.twig' %}
{% block title %} Tours   {% endblock %}
{% block body %}


<div id="wrap">


    <!-- Header -->

    <!-- End Header -->

    <!--Banner-->
    <section class="sub-banner">
        <!--Background-->
        <div class="bg-parallax bg-1"></div>
        <!--End Background-->
        <!-- Logo -->
        <div class="logo-banner text-center">
            <a href="" title="">
                <img src="{{ asset('bundles/app/images/logo-banner.png') }}" alt="">
            </a>
        </div>
        <!-- Logo -->
    </section>
    <!--End Banner-->

    <!-- Main -->
    <div class="main">
        <div class="container">
            <div class="main-cn tour-page bg-white clearfix">
                <div class="row">

                    <!-- Cruise Right -->
                    <div class="col-md-9 col-md-push-3">

                        <!-- Breakcrumb -->
                        <section class="breakcrumb-sc">
                            <ul class="breadcrumb arrow">

                            </ul>
                        </section>
                        <!-- End Breakcrumb -->

                        <section class="cruise-list">

                            <!-- Sort by and View by -->
                            <div class="sort-view clearfix">
                                <!-- Sort by -->
                                <div class="sort-by float-left">
                                    <label>Sort by: &nbsp;&nbsp;</label>
                                    <th>{{ knp_pagination_sortable(tour, ' sold tickets ', 'a.ticketvendu') }}</th>&nbsp;
                                    <th {% if tour.isSorted('a.prix') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(tour, 'Days', 'a.nbdays') }}</th>&nbsp;
                                    <th>{{ knp_pagination_sortable(tour, ' Start Date ', 'a.datedebut') }}</th>&nbsp;
                                    <th>{{ knp_pagination_sortable(tour, ' ticket ', 'a.maxplace') }}</th>&nbsp;







                                </div>
                                <div class="view-by float-right">
                                    <ul>
                                        <li><a href="{{ path('tourslistGrid') }}" title="" class="current"><img src="{{ asset('bundles/app/images/icon-grid.png') }}" alt=""> Grid view</a></li>

                                    </ul>
                                </div>
                                <!-- End Sort by -->
                                <!-- View by -->

                                <!-- View by -->
                            </div>
                            <!-- End Sort by and View by -->

                            <!-- Cruise Content -->
                            <div class="cruise-list-cn tour-list-cn">
                                {% if  tour.getTotalItemCount  == 0 %}
                                    <div class="cruise-item">
                                        <h2> 0 items found </h2>
                                    </div>
                                {% endif %}
                                {% for tour in tour %}
                                <!-- Item -->
                                <div class="cruise-item">
                                    <figure class="cruise-img">

                                        <a href="{{ path('tourdetail',{'id': tour.id}) }}">
                                            <img src="{% if tour.imageName != "" %} {{ asset('images/products/' ~ tour.imageName ) }} {% else %}{{ asset('images/products/noimage.jpg' ) }} {% endif %} " alt="">
                                        </a>
                                    </figure>
                                    <div class="cruise-text">
                                        <div class="cruise-name">
                                            <a href="{{ path('tourdetail',{'id': tour.id}) }}"> {{ tour.title }}</a>
                                        </div>
                                        <ul class="ship-port">
                                            <li>
                                                <span class="label">Featuring:</span>
                                                {% autoescape %}
                                                    {{ tour.description|striptags|slice(0, 40) }}...
                                                {% endautoescape %}

                                            </li>
                                            <li>
                                                <span class="label">Start date:</span>
                                                    {{ tour.datedebut | date('Y/m/d') }}
                                            </li>
                                            <li>
                                                <span class="label">End date:</span>
                                                {{ tour.datefin | date('Y/m/d') }}
                                            </li>
                                            <li>
                                                <span class="label">Rest ticket:</span>
                                                {{ tour.maxplace }}
                                            </li>
                                        </ul>
                                        <div class="price-box">
                                            <span class="price">
                                                From<br>
                                                <ins> {{ tour.prix }} Dt</ins>
                                            </span>
                                            <span class="price night">
                                                <ins>{{ tour.nbdays }}</ins><small>/day</small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item -->
                                {% endfor%}

                            </div>
                            <!-- End Cruise Content -->

                            {{ knp_pagination_render(tour) }}

                        </section>
                    </div>
                    <!-- End Cruise Right -->

                    <!-- Sidebar Hotel -->
                    <div class="col-md-3 col-md-pull-9">
                        <!-- Sidebar Content -->
                        <div class="sidebar-cn">
                            <!-- Search Result -->
                            <div class="search-result">
                                <p>
                                    We found <br>
                                    <ins>    {{ tour.getTotalItemCount }}</ins> <span>properties availability</span>
                                </p>
                            </div>
                            <!-- End Search Result -->
                            <!-- Search Form Sidebar -->
                            <div class="search-sidebar">
                                <div class="row">
                                    <form method="get">
                                        <div class="form-search clearfix">
                                            <div class="form-field col-md-12">
                                                <label for="region"><span>Region:</span> Wourldwide, Africa...</label>
                                                <input type="text" name="region" id="region" value="" class="field-input">
                                            </div>



                                            <div class="form-submit col-md-12">
                                                <button type="submit" class="awe-btn awe-btn-medium awe-search">Search</button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- End Search Form Sidebar -->
                        <!-- Narrow your results -->
                        <div class="narrow-results">
                            <h6>Narrow your results</h6>
                            <div class="narrow-form">
                                <form  method="get">
                                    <input type="text" name="title" class="narrow-input" placeholder="Tour title">
                                    <button class="submit-narrow"></button>
                                </form>
                            </div>
                        </div>
                        <!-- End Narrow your results -->
                        <!-- Price Slider -->
                        <form  method="get">
                            <div class="widget-sidebar price-slider-sidebar">
                                <h4 class="title-sidebar">Price <span>(ticket)</span></h4>
                                <div class="slider-sidebar price-slider" id="price-slider">
                                    <input type="text" name="price" class="range" value="0,3000" />
                                </div>
                            </div>
                            <div class="form-submit col-md-12">
                                <button type="submit" class="awe-btn awe-btn-medium awe-search">Search</button>
                            </div>
                        </form><!-- End Price Slider -->


                    </div>
                    <!-- End Sidebar Hotel -->

                </div>
            </div>
        </div>
    </div>
    <!-- End Main -->
{% endblock body %}
